<section class="section header">
    <div class="columns">
        <div class="column header-content-about is-6" data-aos="fade-down" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="true">
            <div>
                <h1 class="title is-1 has-text-white woah simpleEntrance infinity" >A great place to learn</h1>
                <p class="subtitle has-text-white is-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cumque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quia commodi non reiciendis ex laboriosam dolorum consequuntur facilis nisi aperiam?</p>
            </div>
            <div class="buttons is-right">
                <button class="button is-primary mt-5 is-medium ">Join Now</button>
            </div>
        </div>
    </div>
</section>
<section class="curved">
        <h1 class="title is-2 has-text-centered has-text-white pt-5">Some Information About Us</h1>
</section>

<section class="about-us-about">
    <div class="columns is-centered">
        <div class="column is-6">
            <p class="about-dropcap">
               <span class="academy-tagline"> Ikram Forces Academy </span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci omnis laudantium quia error corporis est doloribus officiis deleniti! Commodi corporis et atque fuga voluptatem vitae a dolor mollitia eaque rerum.   
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nobis ducimus in, quas error tempora vero itaque culpa quod cum earum eveniet vel illum rerum explicabo delectus fugiat nulla at inventore est numquam. Commodi quasi magnam neque veritatis enim error nam, asperiores excepturi voluptatum repudiandae, recusandae quod nostrum, at mollitia.
            </p>
                <blockquote class="about-quote mt-5">"We provide quality Education the best we can in order to achieve the best results"</blockquote>
                <p class="about-dropcap mt-5">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, accusamus totam pariatur, ad harum rem, molestiae labore sapiente dolores minus quibusdam numquam asperiores eligendi ab dolorem ea magnam. Mollitia omnis odio exercitationem illum laborum officiis quae neque minima! Totam consequuntur mollitia amet voluptas esse adipisci suscipit omnis ducimus voluptatibus? Recusandae.
                </p>
        </div>
    </div>
</section>
<section class="section bg-gray-200 mt-5">
    <div class="columns is-centered">
        <div class="column is-5">
            <h1 class="title is-2">Our Vision</h1>
            <p class="about-dropcap mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci omnis laudantium quia error corporis est doloribus officiis deleniti! Commodi corporis et atque fuga voluptatem vitae a dolor mollitia eaque rerum.   
                <p class="mt-4">
                    <i class="fa fa-check icon-about"></i> Best Faculty
                </p>
                <p class="mt-4">
                    <i class="fa fa-check icon-about"></i> Best Study Material
                </p>
                <p class="mt-4">
                    <i class="fa fa-check icon-about"></i> Best Environment
                </p>
                <p class="mt-4">
                    <i class="fa fa-check icon-about"></i> Best Results
                </p>
            </p>
        </div>
        <div class="column is-5 is-offset-2">
            <%= image_tag "about-page.png" %>
        </div>
    </div>
    <div class="columns is-centered mt-5">
        <div class="column is-5">
            <%= image_tag "about-page.png" %>
        </div>
        <div class="column is-5 is-offset-2">
            <h1 class="title is-2">Our Requirements</h1>
            <p class="about-dropcap mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci omnis laudantium quia error corporis est doloribus officiis deleniti! Commodi corporis et atque fuga voluptatem vitae a dolor mollitia eaque rerum.   
                <p class="mt-4">
                    <i class="fa fa-check" id="icon-about1"></i> Best Faculty
                </p>
                <p class="mt-4">
                    <i class="fa fa-check" id="icon-about1"></i> Best Study Material
                </p>
                <p class="mt-4">
                    <i class="fa fa-check " id="icon-about1"></i> Best Environment
                </p>
                <p class="mt-4">
                    <i class="fa fa-check" id="icon-about1"></i> Best Results
                </p>
            </p>
        </div>
    </div>

</section>

<%= render 'footer' %>
