<!-- a lot of the lines are just svg text, actual html is simple 
A sample contact us page form written with tailwind css
Illustration from undraw.co by the amazing Katerina Limpitsouni
-->
<section class="section contact">
  <div class="columns is-centered">
        <div class="column is-6">
          <h2 class="subtitle">Say Something</h2>
        </div>
        <div class="column is-6"></div>
  </div>
</section>

<p id="demo"></p>

      <%# https://wa.me/+923004373031?text=Assalam-o-alaikum!%20How%20can%20we%20help%20you%3F %>

<%= render 'footer' %>